bin/*
obj/*
packages/*
.idea/

*.dll

*.exe

FSharkTests/bin/Debug/

FSharkTests/obj/Debug/

FSharkPrelude/bin/Debug/

FSharkPrelude/obj/Debug/

*.cs

*.fut

FSharkTests/obj/

*.cache

FSharkPreludeTests/bin/Debug/

FSharkPreludeTests/obj/Debug/
